<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pocket.persistence.mapper.DataMapper">

<!-- age전체평균 -->
<select resultType="DataDTO" id="getAgeAvg">
SELECT FOODS, ALCOHOL_CIGARETTE,CLOTHES, UTILITY_BILL,HOUSEWARES, HEALTH, TRANSPORTATION, TELEPHONE,ENTERTAINMENT, EDUCATION,TRAVEL, ETC, NON_CON_EXPENDITURE
FROM aws.DATA
WHERE DATA_SEQ='1'
</select>

<!-- age39세 이하 -->
<select resultType="DataDTO" id="getAgeThirty">
SELECT FOODS, ALCOHOL_CIGARETTE,CLOTHES, UTILITY_BILL,HOUSEWARES, HEALTH, TRANSPORTATION, TELEPHONE,ENTERTAINMENT, EDUCATION,TRAVEL, ETC, NON_CON_EXPENDITURE
FROM aws.DATA
WHERE DATA_SEQ='2'
</select>

<!-- 40대 -->
<select resultType="DataDTO" id="getAgeForty">
SELECT FOODS, ALCOHOL_CIGARETTE,CLOTHES, UTILITY_BILL,HOUSEWARES, HEALTH, TRANSPORTATION, TELEPHONE,ENTERTAINMENT, EDUCATION,TRAVEL, ETC, NON_CON_EXPENDITURE
FROM aws.DATA
WHERE DATA_SEQ='3'
</select>

<!-- 50대 -->
<select resultType="DataDTO" id="getAgeFiFty">
SELECT FOODS, ALCOHOL_CIGARETTE,CLOTHES, UTILITY_BILL,HOUSEWARES, HEALTH, TRANSPORTATION, TELEPHONE,ENTERTAINMENT, EDUCATION,TRAVEL, ETC, NON_CON_EXPENDITURE
FROM aws.DATA
WHERE DATA_SEQ='4'
</select>

<!-- 60세이상 -->
<select resultType="DataDTO" id="getAgeSixty">
SELECT FOODS, ALCOHOL_CIGARETTE,CLOTHES, UTILITY_BILL,HOUSEWARES, HEALTH, TRANSPORTATION, TELEPHONE,ENTERTAINMENT, EDUCATION,TRAVEL, ETC, NON_CON_EXPENDITURE
FROM aws.DATA
WHERE DATA_SEQ='5'
</select>


</mapper>